nav img {
    width: 50px;
}


.week-offer .title {
    font-size: 40px;
}

.week-offer p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}


.welcome-summer .title {
    font-size: 40px;
}

.welcome-summer p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    max-height: 200px;
    text-overflow: ellipsis;
}

.welcome-summer h5 span {
    margin-left: 10px;
    padding: 5px;
}

.card img {
    min-height: 108px;
    max-height: 160px;
}

.collapsed {
    display: none;
}

.offerday .col-12:first-child {
    text-align: center;
    font-size: 30px;
}

.offerday h2 {
    font-weight: 600;
}

.offerday img {
    width: 100%;
    background-size: cover;
}

@media screen and (max-width: 768px) {
    .offerday {
        display: none;
    }
}

.last-minute div:first-of-type {
    font-size: 30px;
    text-align: center;
    font-weight: 600;
}

.testimonial div:first-of-type {
    font-size: 30px;
    text-align: center;
    font-weight: 600;

}

.testimonial img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.testimonial span {
    font-weight: 800;
}

footer {
    margin: 0 200px;
    text-align: center;
}

footer button {
    margin: 15px 0;
}

footer .modal .mb-3 {
    text-align: left
}

/* Dark-mode */
.dark {
    background-color: black !important;
    color: white;
}

.dark-welcome {
    background-color: black !important;
    color: white;
}